@import "./base/reset.scss";
@import "./base/typography";
@import "./utils/variables";
@import "./components/search";
@import "./components/results";
@import "./components/paged";
@import "./layout/header";
@import "./layout/container-cards";
@import "./layout/comics";
@import "./layout/characters";
@import "./layout/detail-characters";
@import "./layout/detail-comics.scss";




body{
    display: flex;
    flex-direction: column;
    align-items: center;
};


