@import "../scss/base/reset";
@import "./base/typography";

@import "../scss/utils/variables";
@import "../scss/utils/mixins";

@import "./components/loading";
@import "./components/search";
@import "./components/results";
@import "./components/toggle";
@import "./components/paged";

@import "./layout/header";
@import "./layout/container-cards";
@import "../scss/layout/detail-cards";
@import "./layout/footer";



body{
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
};