@import "./base/reset";
@import "./base/typography";
@import "./utils/variables";
@import "./components/paged";
@import "./components/search";
@import "./components/results";
@import "./layout/header";
@import "./layout/comics";
@import "./layout/characters";



body{
    display: flex;
    flex-direction: column;
    align-items: center;
};

.hidden{
    display: none;
};
