.loader-container {
    display: $display-base;
    align-items: $align-items;
    justify-content: $justify-content;
    width: $width-percentage-total;
    height: $height-percentage-total;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.loader-container.hidden {
    display: none;
}

.loader {
    width: 3rem;
    height: 3rem;
    margin-top: 20rem;
}

.loader:after {
    content: ' ';
    display: $display-x;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid $secondary-color;
    border-color: $secondary-color transparent $secondary-color transparent;
    animation: loader 2s linear infinite;
}

@keyframes loader {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
