#container-paged{
    justify-content: $justify-content;
    text-align: $text-align;
    margin-top: 3rem;
    nav{
        display: inline-block;
        list-style-type: none;
    };

    li{
        display: inline;
        margin: 5px;

        a{
            color: $text-color;
            text-decoration: none;
            font-family: $font-family-base;
            font-size: 18px;
            letter-spacing: 0.03rem;
        }
        a:hover{
            color: $secondary-color;
        }
    };
};
