.results-container{
    h3{
        font-size: 1.3rem;
        font-weight: $font-weight-bold;
    };
    .results-numbers{
        font-size: 0.8rem;
        font-weight: $font-weight-dark;
        color: $numbers-color;
    };
};
@media screen and (max-width: 360px) {
    .results-container{
        h3{
        margin-left: $size-margin;
        }
    }
}
