body{
    background-color: $primary-color;
    color: $third-color;
}

body.dark-theme{
    background-color: $color-bg-dark;
    color: $primary-color;
    .input-group{
        background-color: transparent;
        color: $primary-color;
        .input-group-text{
            color: rgb(177, 174, 174);
        }
        .search-input{
            background-color: transparent;
            color: $primary-color;
            border: transparent;
            .form-control::placeholder{
                color: $primary-color;
            }
        }
    }

    .results-numbers{
        color: $color-text-secondary;
    }
   
    #pages{
        li{
            a{
                color: $primary-color;
            }
            a:hover{
                color: $secondary-color;
            }
        }    
    }
    #description-detail{
        p{
            color: $color-text-secondary;  
        }
    }
    #title-results{
        color: $primary-color;
    }
}

@media (prefers-color-scheme: dark){
    body{
        background-color: $color-bg-dark;
        color: $primary-color;
    }
    body.light-theme{
        background-color: $primary-color;
        color: $third-color;
    }
}