.footer{
    height: 5rem;
    margin: 20px 0px 0px 0px;
    background-color: $footer-color;
    color: $primary-color;
    font-size: $font-size-base;
    letter-spacing: 0.1rem;

    img{
        width: 3rem;
    }
};