@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;300;400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.search {
  margin-top: 50px;
  font-family: 'Barlow Semi Condensed', sans-serif; }
  .search h3 {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-left: 5px; }
  .search .search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .search .search-input-container .search-input {
    width: 25rem;
    font-size: 1.5rem;
    border: none;
    border-bottom: 2px solid black; }
  .search .search-inner-container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    color: #6b6c76; }
    .search .search-inner-container .type-select {
      border: none;
      font-weight: bold;
      font-family: 'Barlow Semi Condensed', sans-serif;
      font-size: 0.8rem;
      letter-spacing: 0.05rem;
      margin-right: 10px; }
    .search .search-inner-container .order-select {
      border: none;
      font-weight: bold;
      font-family: 'Barlow Semi Condensed', sans-serif;
      font-size: 0.8rem;
      letter-spacing: 0.05rem;
      margin: 0px 20px 0px 20px; }
    .search .search-inner-container .search-button {
      background-color: black;
      color: white;
      font-family: 'Barlow Semi Condensed', sans-serif;
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      border: none;
      border-radius: 3px;
      padding: 10px 15px; }
    .search .search-inner-container .search-button:hover {
      background-color: red; }

.results-container {
  margin: 70px 0px 0px 0px; }
  .results-container h4 {
    font-family: 'Barlow Semi Condensed', sans-serif; }
  .results-container .results-numbers {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #7a7b8f; }

.header {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  background-color: black; }
  .header h1 {
    width: 12rem;
    font-family: 'Bangers', cursive;
    font-size: 2.5rem;
    color: white;
    background-color: red;
    text-align: center;
    align-self: center;
    margin: 0; }
  .header div {
    height: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("../../../assets/img/Marvel-Movies-the-avengers-13621669-2560-1600-e1336019698955.jpg");
    object-fit: contain;
    background-position: center;
    background-size: cover; }

#container-cards {
  width: 70rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }
  #container-cards .cards-comics {
    width: 13rem;
    height: 23rem;
    overflow: hidden;
    object-fit: contain;
    margin: 30px 10px 0px 0px;
    background-color: aqua; }
  #container-cards .cards-comics h3:hover {
    color: red; }
  #container-cards h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: white;
    padding: 15px 5px 0px 10px;
    color: black; }
  #container-cards img {
    width: 100%;
    height: 18rem;
    box-shadow: 0px 7px 16px -7px rgba(0, 0, 0, 0.74);
    transition: 0.1s;
    transition-timing-function: ease; }
  #container-cards img:hover {
    transform: translateY(-10px);
    transition: 0.2s;
    transition-timing-function: ease; }

.results-container {
  margin: 70px 0px 0px 0px; }
  .results-container h4 {
    font-family: 'Barlow Semi Condensed', sans-serif; }
  .results-container .results-numbers {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #7a7b8f; }

#container-cards {
  width: 70rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }
  #container-cards .cards-characters {
    width: 11rem;
    height: 23rem;
    background-color: black;
    overflow: hidden;
    object-fit: contain;
    margin: 30px 10px 0px 0px; }
  #container-cards .cards-characters:hover {
    background-color: red; }
  #container-cards h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: white;
    padding: 15px 5px 0px 10px; }
  #container-cards img {
    width: 100%;
    height: 15rem;
    transition: 0.2s;
    border-bottom: 4px solid red;
    transition-timing-function: ease; }
  #container-cards img:hover {
    transform: scale(1.05);
    transition: 0.3s;
    transition-timing-function: ease; }

body {
  display: flex;
  flex-direction: column;
  align-items: center; }

.hidden {
  display: none; }
